{% extends "base.html" %} {% load static %} {% block content %}

<div class="container-fluid" id="con">
    <h1 class="text-center my-4 ml-5" style="text-decoration: underline;">The Vault.</h1>
    <div class="row">
        <div class="col-sm-4">
            <div class="card my-3 ml-4" style="width: 25rem;">
                <img src="">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        <p></p>
                    </p>
                </div>
                <div class="card-body">
                    <a href="" class="card-link"><button type="button" class="btn btn-sm btn-primary">View more</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}